@font-face {
  font-family: 'Makro ExtraBold';
  font-weight: normal;
  src: url("../fonts/MakroXM-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'Makro Light';
  font-weight: normal;
  src: url("../fonts/MakroXM-Light.woff") format("woff");
}
@font-face {
  font-family: 'Circe Bold';
  font-weight: normal;
  src: url("../fonts/Circe-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Circe ExtraLight';
  font-weight: normal;
  src: url("../fonts/Circe-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: 'Circe Light';
  font-weight: normal;
  src: url("../fonts/Circe-Light.woff") format("woff");
}
@font-face {
  font-family: 'Circe Regular';
  font-weight: normal;
  src: url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Circe ExtraBold';
  font-weight: normal;
  src: url("../fonts/Circe-ExtraBold.woff") format("woff");
}
/*
@font-face {
  font-family: 'Gilroy Bold';
  font-weight: normal;
  src: url("../fonts/Gilroy-Bold.woff") format("woff");}

@font-face {
  font-family: 'Gilroy Light';
  font-weight: normal;
  src: url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy Medium';
  font-weight: normal;
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy Regular';
  font-weight: normal;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy SemiBold';
  font-weight: normal;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
}


@font-face {
  font-family: 'Makro Bold';
  font-weight: normal;
  src: url("../fonts/MakroXM-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Makro Medium';
  font-weight: normal;
  src: url("../fonts/MakroXM-Medium.woff") format("woff");
}*/
