@font-face {
  font-family: 'Gilroy Medium';
  font-weight: normal;
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy Regular';
  font-weight: normal;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Gilroy SemiBold';
  font-weight: normal;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Circe Light';
  font-weight: normal;
  src: url("../fonts/Circe-Light.woff") format("woff");
}
@font-face {
  font-family: 'Circe Regular';
  font-weight: normal;
  src: url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Circe Bold';
  font-weight: normal;
  src: url("../fonts/Circe-Bold.woff") format("woff");
}