@font-face {
  font-family: 'Circe Bold';
  font-weight: normal;
  src: url("Circe-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Circe Regular';
  font-weight: normal;
  src: url("Circe-Regular.woff") format("woff");
}
